$alert-background: var(--au-global-color-muted);
$alert-color: var(--au-global-color-text);

$alert-primary-background: var(--au-global-color-primary-50);
$alert-primary-color: var(--au-global-color-primary-200);

$alert-success-background: var(--au-global-color-success-50);
$alert-success-color: var(--au-global-color-success-200);

$alert-warning-background: var(--au-global-color-warning-50);
$alert-warning-color: var(--au-global-color-warning-200);

$alert-danger-background: var(--au-global-color-danger-50);
$alert-danger-color: var(--au-global-color-danger-200);

$alert-title-font-size: 1.125rem;
$alert-message-font-size: 1rem;
$alert-border-radius: var(--au-global-border-radius-default);
$alert-children-gap: var(--au-global-spacing-xsmall);
