$global-background: #EFEFEF;
$global-muted-background: #F9F9F9;
$global-primary-background: #00DC82;

// $global-background: var(--au-global-color-bg);
// $global-muted-background: var(--au-global-color-bg-default);
// $global-primary-background: #00DC82;
