// $button-padding-horizontal ;
// $button-line-height;

// default
$button-default-background: var(--au-global-color-muted) !default;
$button-default-color: var(--au-global-color-text) !default;

$button-default-hover-background: var(--au-global-color-muted-100) !default;
$button-default-hover-color: var(--au-global-color-text-emphasis) !default;

$button-default-active-background: var(--au-global-color-muted-activ) !default;
$button-default-active-color: var(--au-global-color-text-emphasis) !default;

// primary
$button-primary-background: var(--au-global-color-primary) !default;
$button-primary-color: var(--au-global-color-text-light) !default;

$button-primary-hover-background: var(--au-global-color-primary-100) !default;
$button-primary-color: var(--au-global-color-text-light-emphasis) !default;

$button-primary-active-background: var(--au-global-color-primary-150) !default;
$button-primary-color: var(--au-global-color-text-light-emphasis) !default;

// secondary
$button-secondary-background: var(--au-global-color-secondary) !default;
$button-secondary-color: var(--au-global-color-text-light) !default;

$button-secondary-hover-background: var(
  --au-global-color-secondary-100
) !default;
$button-secondary-color: var(--au-global-color-text-light-emphasis) !default;

$button-secondary-active-background: var(
  --au-global-color-secondary-200
) !default;
$button-secondary-color: var(--au-global-color-text-light-emphasis) !default;

// success
$button-success-background: var(--au-global-color-success) !default;
$button-success-color: var(--au-global-color-text) !default;

$button-success-hover-background: var(--au-global-color-success-100) !default;
$button-success-hover-color: var(--au-global-color-text) !default;

$button-success-active-background: var(--au-global-color-success-200) !default;
$button-success-active-color: var(--au-global-color-text) !default;

// warning
$button-warning-background: var(--au-global-color-warning) !default;
$button-warning-color: var(-au-global-color-warning-200) !default;

$button-warning-hover-background: var(--au-global-color-warning-50) !default;
$button-warning-hover-color: var(-au-global-color-warning-100) !default;

$button-warning-active-background: var(--au-global-color-warning-200) !default;
$button-warning-active-color: var(-au-global-color-warning-200) !default;

// danger
$button-danger-background: var(--au-global-color-danger) !default;
$button-danger-color: var(--au-global-color-danger-50) !default;
$button-danger-hover-background: var(--au-global-color-danger-100) !default;
$button-danger-active-background: var(--au-global-color-danger-150) !default;

@mixin hook-button() {
  font-family: var(--au-global-font-primary);
  font-weight: bold;
  letter-spacing: 0.7px;
  border-radius: var(--au-global-border-radius-default);
  transition: background 350ms linear;
}

.uk-button {
  &-success {
    background-color: $button-success-background;
    color: $button-success-color;
    @if (mixin-exists(hook-button-success)) {
      @include hook-button-success();
    }

    &:hover {
      background-color: $button-success-hover-background;
      color: $button-success-hover-color;
      @if (mixin-exists(hook-button-success-hover)) {
        @include hook-button-success-hover();
      }
    }

    &:active,
    .uk-button-success.uk-active {
      background-color: $button-success-active-background;
      color: $button-success-active-color;
      @if (mixin-exists(hook-button-success-active)) {
        @include hook-button-success-active();
      }
    }
  }

  &-warning {
    background-color: $button-warning-background;
    color: $button-warning-color;
    @if (mixin-exists(hook-button-warning)) {
      @include hook-button-warning();
    }

    &:hover {
      background-color: $button-warning-hover-background;
      color: $button-warning-hover-color;
      @if (mixin-exists(hook-button-warning-hover)) {
        @include hook-button-warning-hover();
      }
    }

    &:active,
    .uk-button-warning.uk-active {
      background-color: $button-warning-active-background;
      color: $button-warning-active-color;
      @if (mixin-exists(hook-button-warning-active)) {
        @include hook-button-warning-active();
      }
    }
  }
}
// disabled
// $button-link-disabled-color: '';

// /*
// * Secondary
// */

// .uk-button-secondary {
//   background-color: $button-secondary-background;
//   color: $button-secondary-color;
//   @if(mixin-exists(hook-button-secondary)) {@include hook-button-secondary();}
// }

// /* Hover */
// .uk-button-secondary:hover {
//   background-color: $button-secondary-hover-background;
//   color: $button-secondary-hover-color;
//   @if(mixin-exists(hook-button-secondary-hover)) {@include hook-button-secondary-hover();}
// }

// /* OnClick + Active */
// .uk-button-secondary:active,
// .uk-button-secondary.uk-active {
//   background-color: $button-secondary-active-background;
//   color: $button-secondary-active-color;
//   @if(mixin-exists(hook-button-secondary-active)) {@include hook-button-secondary-active();}
// }

// /*
// * Danger
// */

// .uk-button-danger {
//   background-color: $button-danger-background;
//   color: $button-danger-color;
//   @if(mixin-exists(hook-button-danger)) {@include hook-button-danger();}
// }

// /* Hover */
// .uk-button-danger:hover {
//   background-color: $button-danger-hover-background;
//   color: $button-danger-hover-color;
//   @if(mixin-exists(hook-button-danger-hover)) {@include hook-button-danger-hover();}
// }

// /* OnClick + Active */
// .uk-button-danger:active,
// .uk-button-danger.uk-active {
//   background-color: $button-danger-active-background;
//   color: $button-danger-active-color;
//   @if(mixin-exists(hook-button-danger-active)) {@include hook-button-danger-active();}
// }

// /*
// * Disabled
// * The same for all style modifiers
// */

// .uk-button-default:disabled,
// .uk-button-primary:disabled,
// .uk-button-secondary:disabled,
// .uk-button-danger:disabled {
//   background-color: $button-disabled-background;
//   color: $button-disabled-color;
//   @if(mixin-exists(hook-button-disabled)) {@include hook-button-disabled();}
// }

// /* Size modifiers
// ========================================================================== */

// .uk-button-small {
//   padding: 0 $button-small-padding-horizontal;
//   line-height: $button-small-line-height;
//   font-size: $button-small-font-size;
//   @if(mixin-exists(hook-button-small)) {@include hook-button-small();}
// }

// .uk-button-large {
//   padding: 0 $button-large-padding-horizontal;
//   line-height: $button-large-line-height;
//   font-size: $button-large-font-size;
//   @if(mixin-exists(hook-button-large)) {@include hook-button-large();}
// }

// /* Text modifiers
// ========================================================================== */

// /*
// * Text
// * 1. Reset
// * 2. Style
// */

// .uk-button-text {
//   /* 1 */
//   padding: 0;
//   line-height: $button-text-line-height;
//   background: none;
//   /* 2 */
//   color: $button-text-color;
//   @if(mixin-exists(hook-button-text)) {@include hook-button-text();}
// }

// /* Hover */
// .uk-button-text:hover {
//   color: $button-text-hover-color;
//   @if(mixin-exists(hook-button-text-hover)) {@include hook-button-text-hover();}
// }

// /* Disabled */
// .uk-button-text:disabled {
//   color: $button-text-disabled-color;
//   @if(mixin-exists(hook-button-text-disabled)) {@include hook-button-text-disabled();}
// }

// /*
// * Link
// * 1. Reset
// * 2. Style
// */

// .uk-button-link {
//   /* 1 */
//   padding: 0;
//   line-height: $button-link-line-height;
//   background: none;
//   /* 2 */
//   color: $button-link-color;
//   @if(mixin-exists(hook-button-link)) {@include hook-button-link();}
// }

// /* Hover */
// .uk-button-link:hover {
//   color: $button-link-hover-color;
//   text-decoration: $button-link-hover-text-decoration;
// }
