// background
$global-background: var(--au-global-color-bg) !default;
// muted
$global-muted-background-50: var(--au-global-color-muted-50) !default;
$global-muted-background: var(--au-global-color-muted) !default;
$global-muted-background-100: var(--au-global-color-muted-100) !default;
$global-muted-background-150: var(--au-global-color-muted-150) !default;
$global-muted-background-200: var(--au-global-color-muted-200) !default;
// primary
$global-primary-background-50: var(--au-global-color-primary-50) !default;
$global-primary-background: var(--au-global-color-primary) !default;
$global-primary-background-100: var(--au-global-color-primary-100) !default;
$global-primary-background-150: var(--au-global-color-primary-150) !default;
$global-primary-background-200: var(--au-global-color-primary-200) !default;
// secondary
$global-secondary-background-50: var(--au-global-color-secondary-50) !default;
$global-secondary-background: var(--au-global-color-secondary) !default;
$global-secondary-background-100: var(--au-global-color-secondary-100) !default;
$global-secondary-background-150: var(--au-global-color-secondary-150) !default;
$global-secondary-background-200: var(--au-global-color-secondary-200) !default;
// success
$global-success-background-50: var(--au-global-color-success-50) !default;
$global-success-background: var(--au-global-color-success) !default;
$global-success-background-100: var(--au-global-color-success-100) !default;
$global-success-background-150: var(--au-global-color-success-150) !default;
$global-success-background-200: var(--au-global-color-success-200) !default;
// warning
$global-warning-background-50: var(--au-global-color-warning-50) !default;
$global-warning-background: var(--au-global-color-warning) !default;
$global-warning-background-100: var(--au-global-color-warning-100) !default;
$global-warning-background-150: var(--au-global-color-warning-150) !default;
$global-warning-background-200: var(--au-global-color-warning-200) !default;
// danger
$global-danger-background-50: var(--au-global-color-danger-50) !default;
$global-danger-background: var(--au-global-color-danger) !default;
$global-danger-background-100: var(--au-global-color-danger-100) !default;
$global-danger-background-150: var(--au-global-color-danger-150) !default;
$global-danger-background-200: var(--au-global-color-danger-200) !default;

// text

// muted
$global-muted-text-50: var(--au-global-color-muted-50) !default;
$global-muted-text: var(--au-global-color-muted) !default;
$global-muted-text-100: var(--au-global-color-muted-100) !default;
$global-muted-text-150: var(--au-global-color-muted-150) !default;
$global-muted-text-200: var(--au-global-color-muted-200) !default;
// primary
$global-primary-text-50: var(--au-global-color-primary-50) !default;
$global-primary-text: var(--au-global-color-primary) !default;
$global-primary-text-100: var(--au-global-color-primary-100) !default;
$global-primary-text-150: var(--au-global-color-primary-150) !default;
$global-primary-text-200: var(--au-global-color-primary-200) !default;
// secondary
$global-secondary-text-50: var(--au-global-color-secondary-50) !default;
$global-secondary-text: var(--au-global-color-secondary) !default;
$global-secondary-text-100: var(--au-global-color-secondary-100) !default;
$global-secondary-text-150: var(--au-global-color-secondary-150) !default;
$global-secondary-text-200: var(--au-global-color-secondary-200) !default;
// success
$global-success-text-50: var(--au-global-color-success-50) !default;
$global-success-text: var(--au-global-color-success) !default;
$global-success-text-100: var(--au-global-color-success-100) !default;
$global-success-text-150: var(--au-global-color-success-150) !default;
$global-success-text-200: var(--au-global-color-success-200) !default;
// warning
$global-warning-text-50: var(--au-global-color-warning-50) !default;
$global-warning-text: var(--au-global-color-warning) !default;
$global-warning-text-100: var(--au-global-color-warning-100) !default;
$global-warning-text-150: var(--au-global-color-warning-150) !default;
$global-warning-text-200: var(--au-global-color-warning-200) !default;
// danger
$global-danger-text-50: var(--au-global-color-danger-50) !default;
$global-danger-text: var(--au-global-color-danger) !default;
$global-danger-text-100: var(--au-global-color-danger-100) !default;
$global-danger-text-150: var(--au-global-color-danger-150) !default;
$global-danger-text-200: var(--au-global-color-danger-200) !default;
