
$form-radio-background: color-mix(in srgb, var(--au-global-color-muted), #000 5%) !default;
$form-radio-focus-background: color-mix(in srgb, $form-radio-background, #000 5%) !default;
$form-radio-checked-focus-background: var(--au-glonal-color-primary-100);

$form-focus-background: color-mix(in srgb, var(--au-global-color-muted), #000 5%) !default;
$form-range-track-background: color-mix(in srgb, var(--au-global-color-muted), #000 5%) !default;
$form-range-track-focus-background: color-mix(in srgb, $form-range-track-background, #000 5%) !default;
