:root {
  --au-heading-small-font-size: 2.375rem;
  --au-heading-small-line-height: 1.2;

  --au-heading-medium-font-size: 2.5rem;
  --au-heading-medium-line-height: 1.1;

  --au-heading-large-font-size: 3.125rem;
  --au-heading-large-line-height: 1.1;

  --au-heading-xlarge-font-size: 4rem;
  --au-heading-xlarge-line-height: 1;

  --au-heading-2xlarge-font-size: 6rem;
  --au-heading-2xlarge-line-height: 1;

  --au-heading-small-font-size-m: 3.25rem;
  --au-heading-medium-font-size-m: 3.5rem;
  --au-heading-large-font-size-m: 4rem;
  --au-heading-xlarge-font-size-m: 4rem;
  --au-heading-2xlarge-font-size-m: 4rem;

  --au-heading-medium-font-size-l: 4rem;
  --au-heading-large-font-size-l: 6rem;
  --au-heading-xlarge-font-size-l: 8rem;
  --au-heading-2xlarge-font-size-l: 11rem;

  --au-heading-divider-padding-bottom: calc(5px + 0.1em);
  --au-heading-divider-border: calc(0.2px + 0.05em) solid
    var(--au-global-color-muted);

  --au-heading-bullet-position: relative;

  --au-heading-bullet-before-content: '';
  --au-heading-bullet-before-display: inline-block;
  --au-heading-bullet-before-position: relative;
  --au-heading-bullet-before-top: calc(-0.1 * 1em);
  --au-heading-bullet-before-vertical-align: middle;
  --au-heading-bullet-before-height: calc(4px + 0.7em);
  --au-heading-bullet-before-margin-right: 0;
  --au-heading-bullet-before-border-left: calc(5px + 0.1em) solid
    var(--au-global-color-muted);

  --au-heading-line-overflow: hidden;
  --au-heading-line-children-display: inline-block;
  --au-heading-line-children-position: relative;

  --au-heading-line-before-after-content: '';
  --au-heading-line-before-after-position: absolute;
  --au-heading-line-before-after-top: calc(50% - (calc(0.2px + 0.05em) / 2));
  --au-heading-line-before-after-width: 2000px;
  --au-heading-line-before-after-border-bottom: calc(0.2px + 0.05em) solid
    var(--au-global-color-muted);

  --au-heading-line-before-right: 100%;
  --au-heading-line-before-margin-right: calc(5px + 0.3em);

  --au-heading-line-after-left: 100%;
  --au-heading-line-after-margin-right: calc(5px + 0.3em);
}

/* ========================================================================
   Component: Heading
 ========================================================================== */

.uk-heading-small {
  font-size: var(--au-heading-small-font-size);
  line-height: var(--au-heading-small-line-height);
  @if (mixin-exists(hook-heading-small)) {
    @include hook-heading-small();
  }
}

.uk-heading-medium {
  font-size: var(--au-heading-medium-font-size);
  line-height: var(--au-heading-medium-line-height);
  @if (mixin-exists(hook-heading-medium)) {
    @include hook-heading-medium();
  }
}

.uk-heading-large {
  font-size: var(--au-heading-large-font-size);
  line-height: var(--au-heading-large-line-height);
  @if (mixin-exists(hook-heading-large)) {
    @include hook-heading-large();
  }
}

.uk-heading-xlarge {
  font-size: var(--au-heading-xlarge-font-size);
  line-height: var(--au-heading-xlarge-line-height);
  @if (mixin-exists(hook-heading-xlarge)) {
    @include hook-heading-xlarge();
  }
}

.uk-heading-2xlarge {
  font-size: var(--au-heading-2xlarge-font-size);
  line-height: var(--au-heading-2xlarge-line-height);
  @if (mixin-exists(hook-heading-2xlarge)) {
    @include hook-heading-2xlarge();
  }
}

/* Tablet Landscape and bigger */
@media (min-width: $breakpoint-medium) {
  .uk-heading-small {
    font-size: var(--au-heading-small-font-size-m);
  }
  .uk-heading-medium {
    font-size: var(--au-heading-medium-font-size-m);
  }
  .uk-heading-large {
    font-size: var(--au-heading-large-font-size-m);
  }
  .uk-heading-xlarge {
    font-size: var(--au-heading-xlarge-font-size-m);
  }
  .uk-heading-2xlarge {
    font-size: var(--au-heading-2xlarge-font-size-m);
  }
}

/* Laptop and bigger */
@media (min-width: $breakpoint-large) {
  .uk-heading-medium {
    font-size: var(--au-heading-medium-font-size-l);
  }
  .uk-heading-large {
    font-size: var(--au-heading-large-font-size-l);
  }
  .uk-heading-xlarge {
    font-size: var(--au-heading-xlarge-font-size-l);
  }
  .uk-heading-2xlarge {
    font-size: var(--au-heading-2xlarge-font-size-l);
  }
}

/* Divider
 ========================================================================== */

.uk-heading-divider {
  padding-bottom: var(--au-heading-divider-padding-bottom);
  border-bottom: var(--au-heading-divider-border);
  @if (mixin-exists(hook-heading-divider)) {
    @include hook-heading-divider();
  }
}

/* Bullet
 ========================================================================== */

.uk-heading-bullet {
  position: var(--au-heading-bullet-position);
}

/*
 * 1. Using `inline-block` to make it work with text alignment
 * 2. Center vertically
 * 3. Style
 */

.uk-heading-bullet::before {
  content: var(--au-heading-bullet-before-content);
  /* 1 */
  display: var(--au-heading-bullet-before-display);
  /* 2 */
  position: var(--au-heading-bullet-before-position);
  top: var(--au-heading-bullet-before-top);
  vertical-align: middle;
  /* 3 */
  height: var(--au-heading-bullet-before-height);
  margin-right: var(--au-heading-bullet-before-margin-right);
  border-left: var(--au-heading-bullet-before-border-left);
  @if (mixin-exists(hook-heading-bullet)) {
    @include hook-heading-bullet();
  }
}

/* Line
 ========================================================================== */

/*
 * Clip the child element
 */

.uk-heading-line {
  overflow: var(--au-heading-line-overflow);
}

/*
 * Extra markup is needed to make it work with text align
 */

.uk-heading-line > * {
  display: var(--au-heading-line-children-display);
  position: var(--au-heading-line-children-position);
}

/*
 * 1. Center vertically
 * 2. Make the element as large as possible. It's clipped by the container.
 * 3. Style
 */

.uk-heading-line > ::before,
.uk-heading-line > ::after {
  content: var(--au-heading-line-before-after-content);
  /* 1 */
  position: var(--au-heading-line-before-after-position);
  top: var(--au-heading-line-before-after-top);
  /* 2 */
  width: var(--au-heading-line-before-after-width);
  /* 3 */
  border-bottom: var(--au-heading-line-before-after-border-bottom);
  @if (mixin-exists(hook-heading-line)) {
    @include hook-heading-line();
  }
}

.uk-heading-line > ::before {
  right: var(--au-heading-line-before-right);
  margin-right: var(--au-heading-line-before-margin-right);
}
.uk-heading-line > ::after {
  left: 100%;
  margin-left: var(--au-heading-line-before-margin-right);
}

// Hooks
// ========================================================================

@if (mixin-exists(hook-heading-misc)) {
  @include hook-heading-misc();
}
