@import './custom-properties/typography';
@import './custom-properties/color';
@import './custom-properties/spacing';


:root {
  --au-global-border-radius-default: 7px;
  --au-global-border-radius-sm: 4px;
  --au-global-border-radius-md: 10px;
  --au-global-border-radius-lg: 25px;
  --au-global-border-radius-full: 500px;
}
