:root {
  --au-global-color-bg: #EFEFEF;
  --au-global-color-bg-default: #D1D5DB;
  --au-global-color-bg-primary: #1E3A8A;
  --au-global-color-bg-secondary: #222;
  --au-global-color-bg-success: #22c55e;
  --au-global-color-bg-warning: #f97316;
  --au-global-color-bg-danger: #b91c1c;

  --au-global-color-text: #444;
  --au-global-color-text-emphasis: #111;
  --au-global-color-text-light: var(--au-global-color-bg);
  --au-global-color-text-light-emphasis: #FFF;

  --au-global-border-radius-default: 7px;
  --au-global-border-radius-sm: 4px;
  --au-global-border-radius-md: 10px;
  --au-global-border-radius-lg: 25px;
  --au-global-border-radius-full: 500px;
}
