:root {
  // breakpoints
  --au-global-breakpoint-small: 640px;
  --au-global-breakpoint-medium: 960px;
  --au-global-breakpoint-large: 1200px;
  --au-global-breakpoint-xlarge: 1600px;
  // typography
  --au-global-font-primary: Helvetica, Arial, Roboto, sans-serif;
  --au-global-font-default: Helvetica, Arial, Roboto, sans-serif;
  --au-global-font-size: 16px;
  --au-global-font-weight: normal;
  --au-global-font-line-height: 1.4;
  // color
  --au-global-color-light: #f8fafc;
  --au-global-color-dark: #374151;

  --au-global-color-muted-50: #f9fafb;
  --au-global-color-muted: #e5e7eb;
  --au-global-color-muted-100: #d1d5db;
  --au-global-color-muted-150: #9ca3af;
  --au-global-color-muted-200: #6b7280;

  --au-global-color-primary-50: #dbeafe;
  --au-global-color-primary: #004bd6;
  --au-global-color-primary-100: #012d9c;
  --au-global-color-primary-150: #001d6c;
  --au-global-color-primary-200: #1e40af;

  --au-global-color-secondary-50: #1f2937;
  --au-global-color-secondary: #1f2937;
  --au-global-color-secondary-100: #334155;
  --au-global-color-secondary-150: #1c1917;
  --au-global-color-secondary-200: #030712;

  --au-global-color-success-50: #dcfce7;
  --au-global-color-success: #22c55e;
  --au-global-color-success-100: #15803d;
  --au-global-color-success-150: #166534;
  --au-global-color-success-200: #052e16;

  --au-global-color-warning-50: #ffedd5;
  --au-global-color-warning: #ff943d;
  --au-global-color-warning-100: #ea580c;
  --au-global-color-warning-150: #c2410c;
  --au-global-color-warning-200: #912f0f;

  --au-global-color-danger-50: #fee2e2;
  --au-global-color-danger: #ae1a22;
  --au-global-color-danger-100: #dc2626;
  --au-global-color-danger-150: #991b1b;
  --au-global-color-danger-200: #981010;

  --au-global-background: var(--au-global-color-light);
  --au-global-color-bg: var(--au-global-color-light);

  --au-global-color-text: #111827;
  --au-global-color-text-emphasis: #111;
  --au-global-color-heading: var(--au-global-color-text);

  --au-global-color-text-light: #f3f3f3;
  --au-global-color-text-light-emphasis: #fff;
  --au-global-color-heading-light: var(--au-global-color-text-light);
  // spacing
  --au-global-spacing-default: 1.25rem;
  --au-global-spacing-xsmall: 0.5rem;
  --au-global-spacing-small: 0.75rem;
  --au-global-spacing-medium: 1.75rem;
  --au-global-spacing-large: 2rem;
  --au-global-spacing-xlarge: 2.25rem;
  --au-global-spacing-2xlarge: 2.5rem;
  // radius
  --au-global-border-radius-default: 7px;
  --au-global-border-radius-sm: 4px;
  --au-global-border-radius-md: 10px;
  --au-global-border-radius-lg: 25px;
  --au-global-border-radius-full: 500px;
}
