$color-variants: (
  light: (0),
  dark: (0),
  muted: (50, 0, 100, 150, 200),
  primary: (50, 0, 100, 150, 200),
  secondary: (50, 0, 100, 150, 200),
  success: (50, 0, 100, 150, 200),
  warning: (50, 0, 100, 150, 200),
  danger: (50, 0, 100, 150, 200)
);
