@mixin hook-accordion() {
  &-title {
    padding-bottom: $accordion-item-margin-top;
    border-bottom: 1px solid var(--au-global-color-muted);
  }
  &-icon {
    display: inline-flex;
    margin-right: var(--au-global-spacing-small);
  }

  &-small {
    li a {

    }
    .uk-accordion-title {
      font-size: $accordion-title-font-size-small;
      line-height: $accordion-title-line-height-small;
      padding-bottom: $accordion-item-margin-top-small;

      &::before {
        width: ($accordion-title-line-height * 1rem);
        height: ($accordion-title-line-height * 1rem);
      }

      .uk-open > &::before {
        @include svg-fill(
          $internal-accordion-open-image,
          '#000',
          $accordion-icon-color
        );
      }
    }
    .uk-accordion-icon {
      width: 1.125rem;
      height: 1.125rem;
    }
    .uk-accordion-content {
      margin-top: $accordion-item-margin-top-small;
    }
  }
}
