:root {
  --au-global-spacing-default: 1.25rem;
  --au-global-spacing-xsmall: 0.5rem;
  --au-global-spacing-small: 0.75rem;
  --au-global-spacing-medium: 1.75rem;
  --au-global-spacing-large: 2rem;
  --au-global-spacing-xlarge: 2.25rem;
  --au-global-spacing-2xlarge: 2.5rem;
}

$padding-small-padding: var(--au-global-spacing-medium) !default;
