:root {
  --au-global-spacing-defaul: 1.25rem;
  --au-global-spacing-xsmall: 4px;
  --au-global-spacing-small: 4px;
  --au-global-spacing-medium: 4px;
  --au-global-spacing-large: 4px;
  --au-global-spacing-xlarge: 4px;
  --au-global-spacing-2xlarge: 4px;
}
